GEMINI_API_KEY=COLOQUE_SUA_CHAVE_AQUI

NOME_ASSISTENTE=Aria
COMANDO_ATIVACAO=System Call
SOM_ATIVACAO=ativacao.wav

VOZ_NOME=Charon
VOZ_IDIOMA=en-US
VAD_SILENCE_MS=600
VAD_PREFIX_MS=20

IMPRESSORA_IP=192.168.1.100
IMPRESSORA_PORTA=9100
ZPL_TESTE=zpl/etiqueta_teste.zpl

MYSQL_HOST=192.168.1.200
MYSQL_PORTA=3306
MYSQL_USUARIO=root
MYSQL_SENHA=COLOQUE_A_SENHA_AQUI
MYSQL_BANCO=SEU_BANCO
RELATORIOS_PASTA=C:\Relatorios\Aria

EWELINK_EMAIL=SEU_EMAIL
EWELINK_SENHA=SUA_SENHA
EWELINK_APP_ID=SEU_APP_ID
EWELINK_APP_SECRET=SEU_APP_SECRET
EWELINK_REGIAO=eu